.nav {
    transition: max-width 0.2s ease-out;
    max-width: 0;
    height: 100vh;
    padding-top: 160px;
    right: 0;
    position: absolute;
    background-color: rgba(31, 31, 31, 0.8);
    z-index: 1;

    // doesn't work as expected
    // border-left: 2px solid $white;
    // transition: border-left 1s ease-out 2s;

    a {
        text-decoration: none;
        height: 100%;
        width: 100%;
        

        li {
            list-style: none;
            padding: 20px 50px;
            color: $golden-darken;
            
            font-weight: 100;
            font-size: 20px;

            @media screen and (max-device-width: $breakpoint-mobile) {
                font-size: 2.5em;
            }
        }
    }
}

.nav.active {
    // transition-delay: 0.02s;
    transition: max-width 0.7s ease-out;
    height: 100%;
    max-width: 100%;
    border-left: 2px solid $white;

    @media screen and (max-device-width: $breakpoint-mobile) {
        max-width: 100%;
        font-size: 2em;
    }
}